.head {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26px;
  background: rgba(33, 33, 33, 0.8);
  padding: 18px 0px;
  position: relative;
}

@media (max-width: 600px) {
  .head {
    -ms-grid-columns: auto auto 1fr;
        grid-template-columns: auto auto 1fr;
  }
}

@media (max-width: 375px) {
  .head {
    padding: 10px 0px 9px;
  }
}

.head__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
}

@media (max-width: 600px) {
  .head__left .icon_location,
  .head__left .head__phone {
    display: none;
  }
}

.head__left div {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.head__left .icon_phone {
  display: none;
}

@media (max-width: 600px) {
  .head__left .icon_phone {
    display: block;
    color: #fff;
    font-size: 24px;
  }
}

.head__phone {
  font-family: "Jura";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.head__logo {
  width: 146px;
}

@media (max-width: 600px) {
  .head__logo {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

@media (max-width: 375px) {
  .head__logo {
    width: 100px;
  }
}

.head__logo img {
  width: 100%;
}

.head__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
}

@media (max-width: 600px) {
  .head__right {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .head__right .icon_email,
  .head__right .icon_search {
    display: none;
  }
}

.head__right div {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.head__menu {
  position: fixed;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  padding: 115px 0px 0px 48px;
}

@media (max-width: 375px) {
  .head__menu {
    padding: 84px 0px 0px 15px;
  }
}

.head__menu.active_menu {
  right: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.head__menu .icon_arrow {
  color: #fff;
  font-size: 8px;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 40px;
  left: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  cursor: pointer;
}

@media (max-width: 375px) {
  .head__menu .icon_arrow {
    top: 30px;
    left: 15px;
  }
}

.head__left_background {
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  max-width: 524px;
}

.head__left_background img {
  width: 524px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-filter: blur(33px);
          filter: blur(33px);
}

.head__left_background div {
  position: relative;
  top: 0px;
  left: 0px;
  width: 444px;
  height: 100%;
  overflow-x: hidden;
}

.head__menu_list_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 43px;
  position: relative;
  padding: 0 0px 70px 0px;
}

@media (max-width: 768px) {
  .head__menu_list_main {
    padding: 0px 0px 40px 0px;
  }
}

@media (max-width: 375px) {
  .head__menu_list_main {
    padding: 0 0px 30px 0px;
  }
}

.head__menu_list_main li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 375px) {
  .head__menu_list_main li {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
}

.head__menu_list_rest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  position: relative;
}

.head__menu_list_rest li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.6;
  color: #ffffff;
}

@media (max-width: 600px) {
  .active_menu.icon_email {
    display: block;
    position: fixed;
    top: 40px;
    right: 69px;
  }
}

@media (max-width: 600px) and (max-width: 375px) {
  .active_menu.icon_email {
    top: 30px;
  }
}

@media (max-width: 600px) {
  .active_menu.icon_search {
    display: block;
    position: fixed;
    top: 40px;
    right: 15px;
  }
}

@media (max-width: 600px) and (max-width: 375px) {
  .active_menu.icon_search {
    top: 30px;
  }
}
/*# sourceMappingURL=Head.module.css.map */